:root {
    --primary-color:  #3F826D;
    --secondary-color: #a3adff;
}





header, footer {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    border: 1px solid white;
}





body {
    font-family: "Lato", sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





