:root {
    --primary-color:  #3F826D;
    --secondary-color: #a3adff;
}





header, footer {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}



/* Grid has a set size to make custom dimensions calculation easier */
.grid {
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}



body {
    font-family: "Lato", sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





