:root {
    --primary-color:  #3F826D;
    --secondary-color: #a3adff;
    --accent-color: #1e7db4;
}



body {
    font-family: "Lato", sans-serif;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header, footer {
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
}
header h1 {
    display: inline;
}
header p {
    font-size: 18px;
    font-style: italic;
    display: inline;
    padding-left: 10px;
}



.button-controls {
    text-align: center;
    margin: 20px;
}
button {
    font-weight: 400;
    font-size: 16px;
    color: white;
    background-color: var(--accent-color);
    padding: 10px 15px;
    border: 3px solid white;
    border-radius: 10px;
    margin: 0 10px;
}



.grid {
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}












